services:

  # PostgreSQL Database
  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: imagepod
      POSTGRES_USER: imagepod
      POSTGRES_PASSWORD: Kkc7HGNjxEbkBUN0OK2SrA
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U imagepod"]
      interval: 10s
      timeout: 5s
      retries: 5

  # Redis Cache
  redis:
    image: redis:7-alpine
    environment:
      REDIS_PASSWORD: "tD0Fe7OiuEZDszXx_GrFLA"
    command: ["redis-server", "--requirepass", "tD0Fe7OiuEZDszXx_GrFLA"]
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
  redis_data:
