POSTGRES_DB=imagepod
POSTGRES_USER=imagepod
POSTGRES_PASSWORD=postgres_password_123456
SECRET_KEY=mega-giga-secret_key
REDIS_PASSWORD=redis_password123123123

RABBITMQ_DEFAULT_USER=imagepod
RABBITMQ_DEFAULT_PASS=rabbitmq_pass123123123

DEBUG=true