POSTGRES_DB=imagepod
POSTGRES_USER=imagepod
POSTGRES_PASSWORD=postgres_password_123456
SECRET_KEY=mega-giga-secret_key
REDIS_PASSWORD=redis_password123123123

RABBITMQ_DEFAULT_USER=imagepod
RABBITMQ_DEFAULT_PASS=rabbitmq_pass123123123

DEBUG=true

# FRP tunneling
# Base domain for pod tunnel subdomains. A wildcard record *.${PROXY_DOMAIN}
# should point to the public IP of the server running frps.
PROXY_DOMAIN=proxy.mydomain.com